[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Courses and Current Topics
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=adedamdhmdlfccbepkgkpmmpboljjale
Icon=chrome-adedamdhmdlfccbepkgkpmmpboljjale-Default
StartupWMClass=crx_adedamdhmdlfccbepkgkpmmpboljjale
X-XFCE-Source=file:///home/darkice/Desktop/chrome-adedamdhmdlfccbepkgkpmmpboljjale-Default.desktop
