[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/darkice/Desktop/chrome-ibblmnobmgdmpoeblocemifbpglakpoi-Default.desktop]
row=0
col=0

[/home/darkice/Desktop/chrome-ohghonlafcimfigiajnmhdklcbjlbfda-Default.desktop]
row=2
col=0

[/home/darkice/Desktop/chrome-agimnkijcaahngcdmfeangaknmldooml-Default.desktop]
row=0
col=1

[/home/darkice/Desktop/chrome-kjmdjljabdjfbonokaaccpdfcmhjfmok-Default.desktop]
row=6
col=0

[/home/darkice/Desktop/chrome-hnpfjngllnobngcgfapefoaidbinmjnm-Default.desktop]
row=8
col=0

[/home/darkice/Desktop/chrome-adedamdhmdlfccbepkgkpmmpboljjale-Default.desktop]
row=7
col=0

[/home/darkice/Desktop/chrome-hdomkahojgpnnglfommmidnhcodegpak-Default.desktop]
row=4
col=0

[/home/darkice/Desktop/chrome-ijiajmbnccddeflgolmbghefpgkhkfeh-Default.desktop]
row=1
col=0

[/home/darkice/Desktop/chrome-khhlecigamplbdcomhhkdgbmdfbghgnk-Default.desktop]
row=5
col=0

[/home/darkice/Desktop/chrome-gjaamlepaakhhommmjkbngcojnlfklan-Default.desktop]
row=3
col=0

